*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*~
.idea
gradle.properties
# we need gradle-wrapper.jar in order to Travis build run properly
gradle/*
!gradle/wrapper
*/build/
*.pyc
*flymake*
