*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*~
.idea
gradle.properties
gradle/
*/build/
data_collector/raw_logs
data_collector/parsed_logs
data_collector/WearLogsMonitor
*.pyc
